## **DS-GA 1007 $\:$ | $\,$ Lecture 7**

## **Programming for Data Science**

<br>

---

#### Jeremy Curuksu, PhD

#### NYU Center for Data Science

#### jeremy.cur@nyu.edu

#### October 30, 2023

## **Pandas: Advanced Data Objects (Part 1)**

<br>

### **Last week**:

### ▶  Introduction to Graphical Data Visualization with Matplotlib

### ▶ Advanced Matplotlib Functionalities

<br>

### **Today**:

### ▶ Creating Pandas objects: '*Series*', '*DataFrame*', '*index*'

### ▶ Indexing and Selection of Data with Pandas

### ▶ Practice exercise

# Topics covered on Pandas in this course

• **Part 1**: Pandas series and data frames, indexing and selection, fancy indexing, Boolean and hierarchical indexing, reshaping

• **Part 2**: Operating on data with Pandas, handling missing values

• **Part 3**: Statistical analysis with Pandas (aggregation, group operations, merging, joining)

• **Part 4**: Manipulating, analyzing and vizualizing time series with Pandas


# Introduction

https://pandas.pydata.org


**Pandas is a Python package for data manipulation and analysis that builds on top of NumPy, so all NumPy functionalities can be leveraged when using Pandas. Pandas adds functionalities to help manipulate and analyze "any kind" of data**. NumPy's ndarray data structure provides functionalities for the type of clean, well-organized data typically seen in numerical computing tasks. While it serves this purpose very well, its limitations become clear when we need more flexibility e.g., **attaching labels to data, working with missing data, complex merging and groupings, pivots, etc**. These more advanced operations are an important piece of analyzing the less structured data available in many forms in the world around us. Pandas provides efficient access to these sorts of data manipulation tasks that occupy much of a data scientist's time.

**Pandas offers the data structures called `Series` and `DataFrame`, which are arrays with attached row labels and column labels, and often with heterogeneous types and/or missing data.** Pandas offers a convenient storage interface for labeled data and powerful data operations familiar to users of both database frameworks and spreadsheet programs.

**A `Series` is essentially a 1D array, and a `DataFrame` is a multidimensional array** i.e., a set of `Series` (similar to the difference between a vector and a matrix in linear algebra mentioned in the lecture on NumPy). 


**A third data structure called `index` is also available**. As its name suggests, `index` is a series of indices, generally some labels attached to some data, which can be manipulated on its own and/or attached to a `Series` or `DataFrame` object.

**Pandas is a free open source package** originally created by Wes McKinney, a mathematician who worked in Finance and needed to analyze time series. This explains why **Pandas has advanced functionalities to manipulate and analyse time series, such as date range generation and frequency conversion, moving window statistics, date shifting and lagging, etc**. The name is derived from the term "panel data", an econometrics term for datasets that include observations over multiple time periods. Its name is a play on the phrase "Python data analysis".

# Case study examples with Pandas

There will be four lectures on Pandas. As we explore more advanced concepts, we will illustrate them directly with case studies. For those of you who would like to start looking at case studies now, I recommend you start with these:

* Carpentry (indexing, slicing): https://datacarpentry.org/python-ecology-lesson/03-index-slice-subset/index.html

* Carpentry (data exploration): https://datacarpentry.org/python-ecology-lesson/02-starting-with-data/index.html

* Kaggle (data exploration): https://www.kaggle.com/code/kashnitsky/topic-1-exploratory-data-analysis-with-pandas/notebook

* AWS AI Blog (ML application): https://aws.amazon.com/blogs/machine-learning/developing-a-business-strategy-by-combining-machine-learning-with-sensitivity-analysis/

# Online Documentation
The [pandas.pydata.org](https://pandas.pydata.org) website is the primary online resource for the library's documentation, tutorials, and other resources

To display Pandas's built-in documentation:

```ipython
pd?
```

To display the pandas namespace:

```ipython
pd.<TAB>
```

Pandas Cheatsheet: https://github.com/pandas-dev/pandas/blob/main/doc/cheatsheet/Pandas_Cheat_Sheet.pdf

# Import Pandas as a library:

In [294]:
import pandas as pd # Abbreviations "pd" is semi-standardized...
pd.__version__

'1.4.2'

In [ ]:
pd?


# 1) Creating Pandas Series, DataFrame, Index

Pandas data frames come in two flavors: `Series` and `DataFrame`. `Series` are 1D `DataFrame`. In contrast, `DataFrame` can be of any dimension. Both are attached to `index` objects. 

A default series of integers is implicitly attached as `index` to label the data if none is explicitly attached by the programmer.

## Creating Pandas Series

``Series`` is a one-dimensional array of indexed data 

### From a Python List or Array

A `Series` can be created by converting a list or an array

In [295]:
data = pd.Series([100, 200, 300, 400, 500])
data

0    100
1    200
2    300
3    400
4    500
dtype: int64

#### A Series has values and indexes

In [296]:
data.values

array([100, 200, 300, 400, 500])

In [297]:
data.index # Default index implicitely defined as integers

RangeIndex(start=0, stop=5, step=1)

#### Indexes can be defined explicitly, and do not need to be integers

In [299]:
data = pd.Series([100, 200, 300, 400, 500], index = ['A', 'b', 'c', 10, 200])
data

A      100
b      200
c      300
10     400
200    500
dtype: int64

In [300]:
data.index

Index(['A', 'b', 'c', 10, 200], dtype='object')

In [301]:
data['b']

200

In [302]:
data[10]

400

### From a Python Dictionary

In [303]:
movies = {"The Hangover": 100, "Hot Fuzz": 121, "Tower Heist": 104, "The Interview": 112}
movies

{'The Hangover': 100,
 'Hot Fuzz': 121,
 'Tower Heist': 104,
 'The Interview': 112}

In [304]:
data = pd.Series(movies)
data

The Hangover     100
Hot Fuzz         121
Tower Heist      104
The Interview    112
dtype: int64

A Pandas object can be indexed by label or by position, as will be discussed in more details in section 2. 
Indexing by position is particulary useful if we don't know or care about index labels.

In [305]:
data['The Interview'] # Indexing by explicit label

112

In [306]:
data[3] # Indexing by implicit position

112

In [307]:
data[1:4] # Slicing by implicit position

Hot Fuzz         121
Tower Heist      104
The Interview    112
dtype: int64

## Creating Pandas Data Frames 

``DataFrame`` is a multi-dimensional array of ``Series``, typically a 2D array where each column is a ``Series``

### From a Python List or Array

A 2D `DataFrame` can be created by converting a *nested* list or a 2D array

In [308]:
# Let's convert a 4x3 array (4 rows, 3 columns) into a DataFrame object
l = [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]] # l is a nested list
df = pd.DataFrame(l, columns=['a', 'b', 'c'])
df

    a   b   c
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12

### From a Python Dictionary

In [309]:
d = {'Column 1': [1, 2], 'Column 2': [3, 4]} # d is a dictionary
df = pd.DataFrame(d)
df

   Column 1  Column 2
0         1         3
1         2         4

###  Example of Pandas data frame with explicit labels defined for rows and for columns

In [310]:
import numpy as np
data = pd.DataFrame(np.random.rand(5, 5),
                    columns = ['Feature x1', 'Feature x2', 'Feature x3', 'Feature x4', 'Target y'],
                    index = ['Obs 1', 'Obs 2', 'Obs 3', 'Obs 4', 'Obs 5'])
data

       Feature x1  Feature x2  Feature x3  Feature x4  Target y
Obs 1    0.245221    0.514386    0.890469    0.734799  0.941550
Obs 2    0.250945    0.235227    0.348544    0.747708  0.790772
Obs 3    0.128126    0.510444    0.692561    0.149503  0.415319
Obs 4    0.752223    0.230288    0.107565    0.114998  0.223453
Obs 5    0.356000    0.547579    0.995473    0.282315  0.614292

### From a file 
Pandas data frames can be created by loading a dataset from a CSV file (other formats are possible but CSV is the most standard) 

- A CSV file can be loaded with the Pandas method `read_csv`

- Pandas automatically assigns a row index

- Pandas uses the first row as header to assign column names

- Column names can be explicitly assigned when loading data

- A column can be explicitly specified as the index

#### From a CSV file

In [311]:
# Let's start with a fictitious, simple dataset
%cat simple.csv

a,b,c,d,color
1,2,3,4,blue
5,6,7,8,purple
9,10,11,12,red

In [312]:
# Load the contents of a CSV file into a DataFrame using 'read_csv'
df = pd.read_csv('simple.csv')
print(df)

   a   b   c   d   color
0  1   2   3   4    blue
1  5   6   7   8  purple
2  9  10  11  12     red

In [313]:
# The first row is considered a header and used to define column names
print(df.columns.values)

['a' 'b' 'c' 'd' 'color']

In [314]:
# Specify column names explicitly
df = pd.read_csv('simple.csv', names = ['x1','x2','x3','x4','y'])
print(df)

  x1  x2  x3  x4       y
0  a   b   c   d   color
1  1   2   3   4    blue
2  5   6   7   8  purple
3  9  10  11  12     red

In [315]:
print(df.columns.values)

['x1' 'x2' 'x3' 'x4' 'y']

In [316]:
# An existing column can be defined as index 
df = pd.read_csv('simple.csv',names=['x1','x2','x3','x4','y'],index_col='y')
print(df)

       x1  x2  x3  x4
y
color   a   b   c   d
blue    1   2   3   4
purple  5   6   7   8
red     9  10  11  12

In [317]:
print(df.index.values)

['color' 'blue' 'purple' 'red']

In [318]:
# Let's also look at a more typical example of input file
data = pd.read_csv('IMDB-Movie-Data.csv')
data

,Position,Const,Created,Modified,Description,Title,URL,Title Type,IMDb Rating,Runtime (mins),Year,Genres,Num Votes,Release Date,Directors
0,1,tt0382932,2012-09-02,2012-09-02,NaN,Ratatouille,https://www.imdb.com/title/tt0382932/,movie,8.1,111,2007,"Animation, Adventure, Comedy, Family, Fantasy",726444,2007-06-22,"Brad Bird, Jan Pinkava"
1,2,tt0266543,2012-09-02,2012-09-02,NaN,Finding Nemo,https://www.imdb.com/title/tt0266543/,movie,8.2,100,2003,"Animation, Adventure, Comedy, Family",1034835,2003-05-18,"Andrew Stanton, Lee Unkrich"
2,3,tt0141109,2012-09-02,2012-09-02,Really sad movie :'( I cried bigtime!,Jack Frost,https://www.imdb.com/title/tt0141109/,movie,5.4,101,1998,"Comedy, Drama, Family, Fantasy",36826,1998-11-15,Troy Miller
3,4,tt0952640,2012-09-02,2012-09-02,NaN,Alvin and the Chipmunks,https://www.imdb.com/title/tt0952640/,movie,5.2,92,2007,"Animation, Adventure, Comedy, Drama, Family, F...",85999,2007-12-13,Tim Hill
4,5,tt0332379,2012-09-02,2012-09-02,NaN,School of Rock,https://www.imdb.com/title/tt0332379/,movie,7.2,109,2003,"Comedy, Music",304868,2003-09-09,Richard Linklater
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,250,tt2702724,2021-12-10,2021-12-10,NaN,The Boss,https://www.imdb.com/title/tt2702724/,movie,5.4,99,2016,Comedy,46541,2016-03-21,Ben Falcone
250,251,tt13834006,2022-02-05,2022-02-05,NaN,Huit Rue de l'Humanite,https://www.imdb.com/title/tt13834006/,movie,6.3,125,2021,Comedy,7096,2021-10-20,Dany Boon
251,252,tt14592064,2022-02-19,2022-02-19,NaN,Home Team,https://www.imdb.com/title/tt14592064/,movie,6.0,95,2022,"Comedy, Sport",18494,2022-01-28,"Charles Kinnane, Daniel Kinnane"
252,253,tt2463208,2022-03-16,2022-03-16,NaN,The Adam Project,https://www.imdb.com/title/tt2463208/,movie,6.7,106,2022,"Action, Adventure, Comedy, Sci-Fi",193809,2022-02-28,Shawn Levy
253,254,tt4593060,2022-09-11,2022-09-11,NaN,Pinocchio,https://www.imdb.com/title/tt4593060/,movie,5.1,105,2022,"Adventure, Comedy, Drama, Family, Fantasy, Mus...",25355,2022-09-08,Robert Zemeckis

#### From a JSON file

In [319]:
# Load the contents of a json file into a DataFrame using 'read_json'
data = pd.read_json('IMDB-Movie-Data.json')
data

,Position,Const,Created,Modified,Description,Title,URL,Title Type,IMDb Rating,Runtime (mins),Year,Genres,Num Votes,Release Date,Directors
0,1,tt0382932,2012-09-02,2012-09-02,None,Ratatouille,https://www.imdb.com/title/tt0382932/,movie,8.1,111,2007,"Animation, Adventure, Comedy, Family, Fantasy",726444,2007-06-22,"Brad Bird, Jan Pinkava"
1,2,tt0266543,2012-09-02,2012-09-02,None,Finding Nemo,https://www.imdb.com/title/tt0266543/,movie,8.2,100,2003,"Animation, Adventure, Comedy, Family",1034835,2003-05-18,"Andrew Stanton, Lee Unkrich"
2,3,tt0141109,2012-09-02,2012-09-02,Really sad movie :'( I cried bigtime!,Jack Frost,https://www.imdb.com/title/tt0141109/,movie,5.4,101,1998,"Comedy, Drama, Family, Fantasy",36826,1998-11-15,Troy Miller
3,4,tt0952640,2012-09-02,2012-09-02,None,Alvin and the Chipmunks,https://www.imdb.com/title/tt0952640/,movie,5.2,92,2007,"Animation, Adventure, Comedy, Drama, Family, F...",85999,2007-12-13,Tim Hill
4,5,tt0332379,2012-09-02,2012-09-02,None,School of Rock,https://www.imdb.com/title/tt0332379/,movie,7.2,109,2003,"Comedy, Music",304868,2003-09-09,Richard Linklater
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,250,tt2702724,2021-12-10,2021-12-10,None,The Boss,https://www.imdb.com/title/tt2702724/,movie,5.4,99,2016,Comedy,46541,2016-03-21,Ben Falcone
250,251,tt13834006,2022-02-05,2022-02-05,None,Huit Rue de l'Humanite,https://www.imdb.com/title/tt13834006/,movie,6.3,125,2021,Comedy,7096,2021-10-20,Dany Boon
251,252,tt14592064,2022-02-19,2022-02-19,None,Home Team,https://www.imdb.com/title/tt14592064/,movie,6.0,95,2022,"Comedy, Sport",18494,2022-01-28,"Charles Kinnane, Daniel Kinnane"
252,253,tt2463208,2022-03-16,2022-03-16,None,The Adam Project,https://www.imdb.com/title/tt2463208/,movie,6.7,106,2022,"Action, Adventure, Comedy, Sci-Fi",193809,2022-02-28,Shawn Levy
253,254,tt4593060,2022-09-11,2022-09-11,None,Pinocchio,https://www.imdb.com/title/tt4593060/,movie,5.1,105,2022,"Adventure, Comedy, Drama, Family, Fantasy, Mus...",25355,2022-09-08,Robert Zemeckis

## Pandas Index Object

A Pandas ``Index`` object stores row index labels attached to Pandas objects. It is an immutable array implementing an **ordered, sliceable set of values**.

In [320]:
df.index

Index(['color', 'blue', 'purple', 'red'], dtype='object', name='y')

In [321]:
print(df.index.values)

['color' 'blue' 'purple' 'red']

In [322]:
data.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            244, 245, 246, 247, 248, 249, 250, 251, 252, 253],
           dtype='int64', length=254)

In [323]:
print(data.index.values)

[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253]


# 2) Indexing and Selection of Data in Pandas 

Pandas `Series` and `DataFrame` are attached to `index` objects. 

In addition, `DataFrame` also have column labels.

Building on NumPy, Pandas `Series` and `DataFrame` can be accessed and indexed using intelligent label-based slicing, fancy indexing, and selection of columns, in large data sets. In addition, Pandas objects support hierarchical indexing.

## Indexing Series

In [324]:
series = pd.Series([10,20,30,40,50,60,70,80,90], index=['x1','x2','x3','x4','x5','x6','x7','x8','x9'])
series

x1    10
x2    20
x3    30
x4    40
x5    50
x6    60
x7    70
x8    80
x9    90
dtype: int64

### Slicing, fancy indexing, and masking

A Pandas object can be indexed by label or by position i.e., there are two ways to index entries in a Pandas `Series`: either using their explicit labels, or using their implicit positions.

Indexing by position is particulary useful if we don't know, or care about, the index labels.

####  Indexing using labels

In [325]:
# Simple indexing using explicit labels
series['x1']

10

In [326]:
# Slicing using explicit labels
series['x1':'x7']

x1    10
x2    20
x3    30
x4    40
x5    50
x6    60
x7    70
dtype: int64

In [327]:
# Fancy indexing using explicit labels
series[['x2', 'x5', 'x8']]

x2    20
x5    50
x8    80
dtype: int64

In [328]:
# Masking
series[(series >= 40) & (series <= 80)]

x4    40
x5    50
x6    60
x7    70
x8    80
dtype: int64

#### Indexing using positions

In [329]:
# Simple indexing using positional indexes
series[0]

10

In [330]:
# Slicing using positional indexes
series[0:7]

x1    10
x2    20
x3    30
x4    40
x5    50
x6    60
x7    70
dtype: int64

In [331]:
# Fancy indexing using positional indexes
series[[1, 4, 7]]

x2    20
x5    50
x8    80
dtype: int64

The ability to use implicit or explicit indexing can lead to confusions, in particular if labels used for indices are integers too. For example:

In [332]:
series = pd.Series(['a','b','c','d','e'], index=[1,2,3,4,5])
series

1    a
2    b
3    c
4    d
5    e
dtype: object

In the following statement, did the programmer mean position 4 or label 4?

In [333]:
print(series[4])

d

If explicit labels are integers, Pandas defaults to indexing by explicit label, so here `4` is considered a label, not a position

### Indexing by labels with ``loc``

To ensure and make clear that the index *label* is invoked, not the index *position*, the method ``loc`` can be used for indexing and slicing

In [334]:
print(series.loc[1], series.loc[2], series.loc[4])

a b d

In [335]:
print(series.loc[5]) # Equivalent to print(series[5])

e

### Indexing by positions with ```iloc```
To ensure the numerical (positional) index is invoked, not the label, the method ``iloc`` can be used for indexing and slicing

In [336]:
print(series.iloc[1], series.iloc[2], series.iloc[4])

b c e

In [337]:
print(series.iloc[5])  # Implicit (positional) index 5 is out of bounds

IndexError: single positional indexer is out-of-bounds

## Indexing and Selection in Dataframe


A``DataFrame`` is *indexed* like a series of `Series`.

Each column is a `Series`. 

Any column or set of columns can be *selected* (we used the word "*selected*" rather than "*indexed*" when refering to columns)

In [338]:
data = pd.DataFrame(np.random.rand(5, 5),
                    columns = ['x1', 'x2', 'x3', 'x4', 'y'],
                    index = ['Obs 1', 'Obs 2', 'Obs 3', 'Obs 4', 'Obs 5'])
data

             x1        x2        x3        x4         y
Obs 1  0.158477  0.871625  0.934423  0.595098  0.827684
Obs 2  0.346370  0.091339  0.141103  0.179219  0.170643
Obs 3  0.352985  0.596605  0.413909  0.545098  0.975905
Obs 4  0.543523  0.697431  0.721500  0.395652  0.157123
Obs 5  0.977292  0.440029  0.078760  0.434279  0.462086

### Selection of columns

If there is only one argument in the square brackets of a 2D `DataFrame`, it is used to select column(s): it must be some existing column label(s)

In [339]:
data['x1'] # Simple indexing (='selection') using column labels

Obs 1    0.158477
Obs 2    0.346370
Obs 3    0.352985
Obs 4    0.543523
Obs 5    0.977292
Name: x1, dtype: float64

In [340]:
data['y'] # Simple indexing (='selection') using column labels

Obs 1    0.827684
Obs 2    0.170643
Obs 3    0.975905
Obs 4    0.157123
Obs 5    0.462086
Name: y, dtype: float64

In [341]:
data[['x1', 'x2', 'x4']] # Fancy indexing (='selection')

             x1        x2        x4
Obs 1  0.158477  0.871625  0.595098
Obs 2  0.346370  0.091339  0.179219
Obs 3  0.352985  0.596605  0.545098
Obs 4  0.543523  0.697431  0.395652
Obs 5  0.977292  0.440029  0.434279

The dot notation can be used as an alternative approach to select columns (same as in SQL query language).

This approach is not recommended due to risk of over-riding and confusing the `DataFrame`'s column names with the `DataFrame`'s methods (also invoked using the dot notation).

In [343]:
# Alternative approach to select columns 
data.y

Obs 1    0.827684
Obs 2    0.170643
Obs 3    0.975905
Obs 4    0.157123
Obs 5    0.462086
Name: y, dtype: float64

### Indexing of rows

#### Indexing rows in a specific column

In [344]:
data['x2'][0] # Select column + index the corresponding series by position

0.871624673942135

In [345]:
data['y'][0] # Select column + index the corresponding series by position

0.8276838736070256

In [346]:
data['y'][0: 4] # Can use slicing

Obs 1    0.827684
Obs 2    0.170643
Obs 3    0.975905
Obs 4    0.157123
Name: y, dtype: float64

In [347]:
data['y']['Obs 1'] # Can index series by label too

0.8276838736070256

In [348]:
data['y']['Obs 1': 'Obs 4'] # Can use slicing by label too

Obs 1    0.827684
Obs 2    0.170643
Obs 3    0.975905
Obs 4    0.157123
Name: y, dtype: float64

In [349]:
data['y'].iloc[0]  # Can use iloc to ensure indexing by position

0.8276838736070256

In [351]:
data['y'].loc['Obs 1']  # Can use loc to ensure indexing by label

0.8276838736070256

#### Fancy indexing: indexing rows in several columns

Everything shown above can be done when selecting more than one column.

In [352]:
data[['x1','x3','y']].iloc[0:4] # Select columns + slice rows by position

             x1        x3         y
Obs 1  0.158477  0.934423  0.827684
Obs 2  0.346370  0.141103  0.170643
Obs 3  0.352985  0.413909  0.975905
Obs 4  0.543523  0.721500  0.157123

#### Indexing rows 'for all columns'

If no column is specified, all columns are selected

In [353]:
data['Obs 1'] # ERROR: Must use loc/iloc (or slicing!)

KeyError: 'Obs 1'

In [354]:
data.loc['Obs 1'] # Select all columns and index rows by label

x1    0.158477
x2    0.871625
x3    0.934423
x4    0.595098
y     0.827684
Name: Obs 1, dtype: float64

In [355]:
data.iloc[0] # Select all columns and index rows by position

x1    0.158477
x2    0.871625
x3    0.934423
x4    0.595098
y     0.827684
Name: Obs 1, dtype: float64

In [356]:
data['Obs 1': 'Obs 4']  # Slicing works directly (Pandas allows it because slicing is valid only for indexes/rows, so no possible confusion)

             x1        x2        x3        x4         y
Obs 1  0.158477  0.871625  0.934423  0.595098  0.827684
Obs 2  0.346370  0.091339  0.141103  0.179219  0.170643
Obs 3  0.352985  0.596605  0.413909  0.545098  0.975905
Obs 4  0.543523  0.697431  0.721500  0.395652  0.157123

In [357]:
data.loc['Obs 1': 'Obs 4'] # Ensure and clarify slicing by index label

             x1        x2        x3        x4         y
Obs 1  0.158477  0.871625  0.934423  0.595098  0.827684
Obs 2  0.346370  0.091339  0.141103  0.179219  0.170643
Obs 3  0.352985  0.596605  0.413909  0.545098  0.975905
Obs 4  0.543523  0.697431  0.721500  0.395652  0.157123

In [358]:
data.iloc[0: 4] # Ensure and clarify slicing by index position

             x1        x2        x3        x4         y
Obs 1  0.158477  0.871625  0.934423  0.595098  0.827684
Obs 2  0.346370  0.091339  0.141103  0.179219  0.170643
Obs 3  0.352985  0.596605  0.413909  0.545098  0.975905
Obs 4  0.543523  0.697431  0.721500  0.395652  0.157123

### Masking / Boolean indexing

In [360]:
data[data['x1'] < 0.8] # Simple mask to filter rows based on values in a column

             x1        x2        x3        x4         y
Obs 1  0.158477  0.871625  0.934423  0.595098  0.827684
Obs 2  0.346370  0.091339  0.141103  0.179219  0.170643
Obs 3  0.352985  0.596605  0.413909  0.545098  0.975905
Obs 4  0.543523  0.697431  0.721500  0.395652  0.157123

In [361]:
# Mask to select rows with several conditions simultaneously satisfied
data[(data['x1'] >= 0.1) & (data['x2'] <= 0.5)]

             x1        x2        x3        x4         y
Obs 2  0.346370  0.091339  0.141103  0.179219  0.170643
Obs 5  0.977292  0.440029  0.078760  0.434279  0.462086

In [362]:
# ERROR: As in NumPy, masking requires specific operator (&, |, ~) instead of (and, or, not)
data[(data['x1'] >= 0.1) and (data['x2'] <= 0.5)]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

### Select NumPy (sub-)array out of a data frame

In [363]:
data.values # Produce array corresponding to entire DataFrame

array([[0.15847671, 0.87162467, 0.93442324, 0.59509817, 0.82768387],
       [0.3463704 , 0.09133915, 0.14110261, 0.17921941, 0.17064323],
       [0.35298476, 0.59660473, 0.41390938, 0.54509836, 0.97590546],
       [0.54352298, 0.69743143, 0.72149972, 0.39565204, 0.15712327],
       [0.97729177, 0.44002913, 0.07876043, 0.43427945, 0.46208648]])

In [364]:
data.values[0] # Produce array, then index a specific row in this array

array([0.15847671, 0.87162467, 0.93442324, 0.59509817, 0.82768387])

In [365]:
data.values[0:4, 2:] # Produce array, then slice specific rows and columns in this array

array([[0.93442324, 0.59509817, 0.82768387],
       [0.14110261, 0.17921941, 0.17064323],
       [0.41390938, 0.54509836, 0.97590546],
       [0.72149972, 0.39565204, 0.15712327]])

### Transpose the data frame

In [366]:
data.T

       Obs 1     Obs 2     Obs 3     Obs 4     Obs 5
x1  0.158477  0.346370  0.352985  0.543523  0.977292
x2  0.871625  0.091339  0.596605  0.697431  0.440029
x3  0.934423  0.141103  0.413909  0.721500  0.078760
x4  0.595098  0.179219  0.545098  0.395652  0.434279
y   0.827684  0.170643  0.975905  0.157123  0.462086

In [367]:
data.T.iloc[0] # Reverse semantic of iloc compared to original data object

Obs 1    0.158477
Obs 2    0.346370
Obs 3    0.352985
Obs 4    0.543523
Obs 5    0.977292
Name: x1, dtype: float64

In [368]:
data.T.loc['x1'] # Reverse semantic of loc compared to original data object

Obs 1    0.158477
Obs 2    0.346370
Obs 3    0.352985
Obs 4    0.543523
Obs 5    0.977292
Name: x1, dtype: float64

In [ ]:
# Now we can slice the columns of the original data frame 
data.T.loc['x1': 'x3']

### Add/delete columns

#### Create new columns

In [369]:
data['x1square'] = data['x1'] ** 2
data['x2square'] = data['x2'] ** 2
data

             x1        x2        x3        x4         y  x1square  x2square
Obs 1  0.158477  0.871625  0.934423  0.595098  0.827684  0.025115  0.759730
Obs 2  0.346370  0.091339  0.141103  0.179219  0.170643  0.119972  0.008343
Obs 3  0.352985  0.596605  0.413909  0.545098  0.975905  0.124598  0.355937
Obs 4  0.543523  0.697431  0.721500  0.395652  0.157123  0.295417  0.486411
Obs 5  0.977292  0.440029  0.078760  0.434279  0.462086  0.955099  0.193626

In [370]:
data['x1square']

Obs 1    0.025115
Obs 2    0.119972
Obs 3    0.124598
Obs 4    0.295417
Obs 5    0.955099
Name: x1square, dtype: float64

In [371]:
data.x1square

Obs 1    0.025115
Obs 2    0.119972
Obs 3    0.124598
Obs 4    0.295417
Obs 5    0.955099
Name: x1square, dtype: float64

In [372]:
data['check x1'] = data['x1'] ** 2 == data['x1square']
data

,x1,x2,x3,x4,y,x1square,x2square,check x1
Obs 1,0.158477,0.871625,0.934423,0.595098,0.827684,0.025115,0.759730,True
Obs 2,0.346370,0.091339,0.141103,0.179219,0.170643,0.119972,0.008343,True
Obs 3,0.352985,0.596605,0.413909,0.545098,0.975905,0.124598,0.355937,True
Obs 4,0.543523,0.697431,0.721500,0.395652,0.157123,0.295417,0.486411,True
Obs 5,0.977292,0.440029,0.078760,0.434279,0.462086,0.955099,0.193626,True

#### Delete columns

In [373]:
data = data.drop('check x1', axis=1)  # Does not mutate (parameter 'inplace' False by default)
data

             x1        x2        x3        x4         y  x1square  x2square
Obs 1  0.158477  0.871625  0.934423  0.595098  0.827684  0.025115  0.759730
Obs 2  0.346370  0.091339  0.141103  0.179219  0.170643  0.119972  0.008343
Obs 3  0.352985  0.596605  0.413909  0.545098  0.975905  0.124598  0.355937
Obs 4  0.543523  0.697431  0.721500  0.395652  0.157123  0.295417  0.486411
Obs 5  0.977292  0.440029  0.078760  0.434279  0.462086  0.955099  0.193626

In [374]:
data.drop(['x1square','x2square'], axis=1, inplace=True) # Mutate when 'inplace' = True
data

             x1        x2        x3        x4         y
Obs 1  0.158477  0.871625  0.934423  0.595098  0.827684
Obs 2  0.346370  0.091339  0.141103  0.179219  0.170643
Obs 3  0.352985  0.596605  0.413909  0.545098  0.975905
Obs 4  0.543523  0.697431  0.721500  0.395652  0.157123
Obs 5  0.977292  0.440029  0.078760  0.434279  0.462086

### Hierarchical indexing
Pandas can define a *hierarchical* labeling of any axes, meaning it's possible to have multiple labels per '*tick*'. 

Labels become lists of lists, creating a hierarchy. 

Hierarchical indexing can be defined for rows and/or columns.

In [375]:
s = pd.Series(np.random.randn(10),
              index=[['a','a','a','b','b','b','c','c','d','d'],
                     [1,2,3,1,2,3,1,2,2,3]])
print(s)

a  1    1.525836
   2   -1.083087
   3   -0.784455
b  1   -0.047956
   2    0.924016
   3   -1.302892
c  1   -0.942824
   2   -1.310783
d  2    1.021444
   3   -0.624820
dtype: float64

#### Query a sub-frame corresponding to a specific label in the hierarchy

In [376]:
print(s['a'])

1    1.525836
2   -1.083087
3   -0.784455
dtype: float64

In [377]:
print(s['b':'c']) # Slicing

b  1   -0.047956
   2    0.924016
   3   -1.302892
c  1   -0.942824
   2   -1.310783
dtype: float64

#### Hierarchical labels can be defined both in rows and columns

In [378]:
df = pd.DataFrame(np.arange(40).reshape((10,4)),
           index=[['a','a','a','b','b','b','c','c','d','d'],[1,2,3,1,2,3,1,2,2,3]],
           columns=[['Feature A','Feature A','Feature B','Feature B'],
                    ['A1','A2','B1','B2']])

print(df)

    Feature A     Feature B
           A1  A2        B1  B2
a 1         0   1         2   3
  2         4   5         6   7
  3         8   9        10  11
b 1        12  13        14  15
  2        16  17        18  19
  3        20  21        22  23
c 1        24  25        26  27
  2        28  29        30  31
d 2        32  33        34  35
  3        36  37        38  39

#### When querying sub-frames, Pandas automatically attaches the relevant sub-hierarchy of labels

In [379]:
print(df['Feature A'])

     A1  A2
a 1   0   1
  2   4   5
  3   8   9
b 1  12  13
  2  16  17
  3  20  21
c 1  24  25
  2  28  29
d 2  32  33
  3  36  37

In [380]:
print(df.loc['a'])

  Feature A    Feature B
         A1 A2        B1  B2
1         0  1         2   3
2         4  5         6   7
3         8  9        10  11

In [381]:
print(df['Feature A'].loc['a'])

   A1  A2
1   0   1
2   4   5
3   8   9

#### Let's look at an example of hierarchical indexing with real data:

In [382]:
# Given population in 2000 and 2010 of three states, listed by state
populations = [33871648, 37253956, 18976457, 19378102, 20851820, 25145561]

# Create a list of tuple
index = [('California', 2000), ('California', 2010),
         ('New York', 2000), ('New York', 2010),
         ('Texas', 2000), ('Texas', 2010)]

# Create a MultiIndex object
index2D = pd.MultiIndex.from_tuples(index)

# Create a Pandas series with hierarchical indexing 
pop = pd.Series(populations, index2D)
pop

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

A dictionary can be as used as input, in which case Pandas automatically create a `MultiIndex`. 

Here is the same example as above, but using a dictionary as input:

In [383]:
# Given population in 2000 and 2010 of three states, listed by state
data = {('California', 2000): 33871648,
        ('California', 2010): 37253956,
        ('New York', 2000): 18976457,
        ('New York', 2010): 19378102,
        ('Texas', 2000): 20851820,
        ('Texas', 2010): 25145561}

# Create a Pandas series with hierarchical indexing
pd.Series(data)

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

Same result, but less code...

## Please visit this URL and challenge yourself on the practice exercises:

https://datacarpentry.org/python-ecology-lesson/03-index-slice-subset/index.html

Metadata on this dataset can be found here: https://www.esapubs.org/archive/ecol/E090/118/Portal_rodent_metadata.htm

In [384]:
surveys = pd.read_csv("./surveys.csv")

In [385]:
surveys.shape

(35549, 9)

In [386]:
surveys.columns

Index(['record_id', 'month', 'day', 'year', 'plot_id', 'species_id', 'sex',
       'hindfoot_length', 'weight'],
      dtype='object')

In [387]:
surveys.dtypes

record_id            int64
month                int64
day                  int64
year                 int64
plot_id              int64
species_id          object
sex                 object
hindfoot_length    float64
weight             float64
dtype: object

In [388]:
surveys.head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN

In [389]:
surveys.tail()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

#### Practice Exercice:

In [390]:
# 1) What does this do?
surveys.loc[[0, 10]] # Same as surveys.loc[[0, 10],:]

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
10,11,7,16,1977,5,DS,F,53.0,NaN

In [391]:
# 2) What does this do?
surveys[['species_id', 'plot_id', 'weight']].loc[0] # Same as surveys.loc[0,['species_id', 'plot_id', 'weight']]

species_id     NL
plot_id         2
weight        NaN
Name: 0, dtype: object

In [392]:
# 3) What happens when you type the code below? Why?
surveys.loc[[10, 100, 35549]]

KeyError: '[35549] not in index'

In [393]:
# 4) What happens when you type the code below? Why?
surveys.iloc[[10, 100, 35549]]

IndexError: positional indexers are out-of-bounds

In [ ]:
# 5) How can you index the data by the values in the column "record_id"?

In [397]:
surveys = pd.read_csv("./surveys.csv", index_col='record_id')
surveys

           month  day  year  plot_id species_id  sex  hindfoot_length  weight
record_id
1              7   16  1977        2         NL    M             32.0     NaN
2              7   16  1977        3         NL    M             33.0     NaN
3              7   16  1977        2         DM    F             37.0     NaN
4              7   16  1977        7         DM    M             36.0     NaN
5              7   16  1977        3         DM    M             35.0     NaN
...          ...  ...   ...      ...        ...  ...              ...     ...
35545         12   31  2002       15         AH  NaN              NaN     NaN
35546         12   31  2002       15         AH  NaN              NaN     NaN
35547         12   31  2002       10         RM    F             15.0    14.0
35548         12   31  2002        7         DO    M             36.0    51.0
35549         12   31  2002        5        NaN  NaN              NaN     NaN

[35549 rows x 8 columns]

In [ ]:
# 6) Create a new DataFrame that contains only records from 2000-2010

In [ ]:
# 7) Create a new DataFrame that contains only observations that are 
#    of sex male or female and where weight values are greater than 10

## Thank you Everyone!