### CDS NYU
### DS-GA 1007 | Programming for Data Science
### Lab 10
### Date: 16th November, 2022


# Pandas: Advanced Data Objects (Part 3)

### ▶ Statistical Analysis with Aggregation and Group Operations 

### ▶  Concatenating, Merging and Joining Data Frames

## Section Leaders


Cora Mao  --  ym1596@nyu.edu  -- 

Devarsh Patel --  dp3324@nyu.edu  --

## Resources

* Concise textbook introduction to Pandas: ”Python Data Science Handbook” pp. 33-96, by Jake VanderPlas
    * Also accessible online at https://jakevdp.github.io/PythonDataScienceHandbook

* Pandas's freely acccessible, online, high-quality and concise documentation: https://pandas.pydata.org

* Practical Data Analysis Reference: https://github.com/stefmolin/Hands-On-Data-Analysis-with-Pandas/tree/master/ch_04

## 1. Statistical Analysis with Aggregation and Group Operations

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#Aggregation functions on DataFrames and Series
df = pd.read_json("./IMDB-Movie-Data.json")

# sort based on year
df = df.sort_values(by=['Year']).reset_index(drop=True)

# display top 7 rows
df.head(7)

In [ ]:
# selecting only numeric columns
df_num = df[['Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)', 'Metascore']]

# replace NaN with median of that respective column
df_num = df_num.fillna(df_num.median(numeric_only=True))
# df_num = df_num.fillna(df_num.median())

# display top 7 rows
df_num.head(7)

In [ ]:
# displaying overall description of the DataFrame
df_num.describe()

### Aggregation Functions

#### Aggregation funtions on Series

In [ ]:
# using 'Revenue (Millions)' columns as Series
s_revenue = df['Revenue (Millions)']
type(s_revenue)

In [ ]:
# max
print('Maximum revenue: ', s_revenue.max(numeric_only=True).round(3))
# print('Maximum revenue: ', round(s_revenue.max(), 3))

In [ ]:
# min
print('Minimum revenue: ', s_revenue.min(numeric_only=True).round(3))
# print('Minimum revenue: ', round(s_revenue.min(),3))

In [ ]:
# mean
print('Mean revenue: ', s_revenue.mean(numeric_only=True).round(3))
# print('Mean revenue: ', round(s_revenue.mean(), 3))

In [ ]:
# median
print('Median in revenue: ', s_revenue.median(numeric_only=True).round(3))
# print('Median in revenue: ', round(s_revenue.median(), 3))

In [ ]:
# std
print('Standard deviation in revenue: ', s_revenue.std(numeric_only=True).round(3))
# print('Standard deviation in revenue: ', round(s_revenue.std(), 3))

In [ ]:
# plotting revenue graph
import matplotlib.pyplot as plt

plt.plot(s_revenue.values, 'm')
plt.xlabel('Movie Index')
plt.ylabel('Revenue (Millions)')
plt.title('Movie - Revenue')
plt.show()

#### Aggregation functions on DataFrame

In [ ]:
# aggregation
df_num.aggregate(np.mean, axis=0)

In [ ]:
# sum
sum_revenue = df['Revenue (Millions)'].sum()
print('Total Revenue (Millions): ', sum_revenue.round(2))
# print('Total Revenue (Millions): ', round(sum_revenue, 2))

In [ ]:
# cummulative sum
csum_revenue = df['Revenue (Millions)'].cumsum()
print('Cummulative sum over \'Revenue (Millions)\' column: ', (csum_revenue.values)[:5])

In [ ]:
# max
max_revenue = df['Revenue (Millions)'].max()
print('Maximum Revenue: ', max_revenue)

max_revenue_movie = df.loc[df['Revenue (Millions)'].idxmax()]
print(f"Movie \'{max_revenue_movie['Title']}\' generated maximum revenue of {max_revenue_movie['Revenue (Millions)']} Millions.")

In [ ]:
# mean
avg_runtime = df['Runtime (Minutes)'].mean()
print('Average Runtime (Minutes): ', avg_runtime.round(2))
# print('Average Runtime (Minutes): ', round(avg_runtime, 2))

In [ ]:
# median
median_votes = df['Votes'].median()
print('Median of Votes: ', median_votes)

In [ ]:
# standard deviation
sd_meta = df['Metascore'].std()
print('Standard Deviation in Metascore: ', sd_meta.round(4))
# print('Standard Deviation in Metascore: ', round(sd_meta, 4))

### Grouping the data

In [ ]:
# student performance data
df = pd.read_csv('./StudentsPerformance.csv')

# replace NaN with median
df = df.fillna(df.median(numeric_only=True))
# df = df.fillna(df.median())

# display top 7 rows
df.head(7)

#### Group by single column

In [ ]:
# group by only gender
df_gender_group = df.groupby('gender')
df_gender_group

In [ ]:
# sum
df_gender_group.sum(numeric_only=True).round(2)
# round(df_gender_group.sum(), 2)

In [ ]:
# max
df_gender_group.max(numeric_only=True).round(2)
# round(df_gender_group.max(), 2)

In [ ]:
# mean
df_gender_group.mean(numeric_only=True).round(2)
# round(df_gender_group.mean(), 2)

In [ ]:
# median
df_gender_group.median(numeric_only=True).round(2)
# round(df_gender_group.median(), 2)

In [ ]:
# std
df_gender_group.std(numeric_only=True)
# df_gender_group.std()

#### Group by multiple column

In [ ]:
df_group = df.groupby(by= ['gender', 'group', 'test preparation course'], group_keys=False)
df_group

In [ ]:
# sum
df_group.sum(numeric_only=True)
# df_group.sum()

In [ ]:
# max
df_group.max(numeric_only=True)
# df_group.max()

In [ ]:
# mean
df_group.mean(numeric_only=True)
# df_group.mean()

In [ ]:
# median
df_group.median(numeric_only=True)
# df_group.median()

In [ ]:
# std
df_group.std(numeric_only=True)
# df_group.std()

### DataFrame: filter(), transform() & apply()

In [ ]:
# filter
df_group.filter(lambda x: x['math score'].std() > 12.0)

In [ ]:
# transform
df_group.transform(lambda x: x - x.mean())

In [ ]:
# apply
def apply_fn(temp_df):
    temp_df['reading score'] -= 10
    return temp_df

df_group.apply(apply_fn)

## 2. Concatenating, Merging and Joining Data Frames in Pandas

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

## Combining and Reshaping
- _Merge_ operations combine data sets by linking rows using one or more keys
- _Concatenate_ operations combine data sets along a particular axis
- _Reshaping_ is used to change the columns/rows to enable different types of analysis

#### Merge
- Many-to-one merge (default intersection)
- Merge using multiple keys
- Merge using DataFrame index as key
- Merge hierarchically-indexed data on index
- Merge using indexes from both DataFrames
- Also has join method for merging by index

In [ ]:
import numpy as np
import pandas as pd

df1 = pd.DataFrame({'key': ['b','b','a','c','a','a','b'], 
                   'data1': range(7)})

df2 = pd.DataFrame({'key': ['a','b','d','b'], 
                   'data2': range(4)})

print(df1)
print(df2)

In [ ]:
# merge based on a column (intersection-like, the default behavior)
print(pd.merge(df1,df2,on='key'))

In [ ]:
# other behaviors can be enforced with the parameter 'how' 
# how = 'outer' --> union-like behavior)
# how = 'inner' --> intersection-like behavior)

print(pd.merge(df1,df2,on='key',how='outer'))

In [ ]:
# merge using column and index
df1 = pd.DataFrame({'key': ['a','b','a','a','b','c'], 'value': range(6)})

df2 = pd.DataFrame({'group_val': [3.5, 7]}, index=['a', 'b'])

print(df1)
print(df2)

print(5*'-')
print(pd.merge(df1, df2, left_on='key', right_index=True))

In [ ]:
# merge using indices from both dataframes

df1 = pd.DataFrame([[1,2],[3,4],[5,6]], 
        index=['a','c','e'], columns=['Ohio','Nevada'])

df2 = pd.DataFrame([[7,8],[9,10],[11,12],[13,14]], 
        index=['b','c','d','e'],
        columns=['Missouri','Alabama'])

print(df1)
print(df2)

print(5*'-')
print(pd.merge(df1, df2, left_index=True, 
        right_index=True, how='outer'))

#### Concatenating
- Combine data sets along a particular axis
   - By default, concatenate rows (axis = 0)
- Concatenating Series by columns (axis = 1) results in a DataFrame
- Can combine DataFrames to create a hierarchical index

In [ ]:
import numpy as np
import pandas as pd

s1 = pd.Series([0, 1], index=['a', 'b'])
s2 = pd.Series([2, 3, 4], index=['c', 'd', 'e'])
s3 = pd.Series([5, 6], index=['f', 'g']) 

print(pd.concat([s1,s2,s3]))

In [ ]:
# by columns give rise to a dataframe
print(pd.concat([s1,s2,s3],axis=1))

In [ ]:
# can combine dataframes with hierarchical index
df1 = pd.DataFrame(np.arange(6).reshape(3,2), 
          index=['a','b','c'], columns=['one','two'])

df2 = pd.DataFrame(5+np.arange(4).reshape(2,2), 
          index=['a','c'], columns=['three','four'])

print(df1)
print(df2)

print(5*'-')
print(pd.concat([df1, df2], axis=1, keys=['level1','level2']))

#### Reshaping
Hierarchical indexing provides a consistent way to rearrange data
- stack - “rotates” from the columns to the rows
- unstack - pivots from the rows into the columns
- pivot - specific version that uses unique values from index / columns to form axes of the resulting DataFrame

In [ ]:
# Stacking and unstacking
df1 = pd.DataFrame({'Airports':[2,2],'5Star':[8,14],'Metro lines':[3,5]},index=['Rio','Sao Paulo'])
print(df1)

print(5*'-')
df2 = df1.stack()
print(df2)

print(5*'-')
df3 = df2.unstack()
print(df3)

## Statistics
- [Many methods](https://chrisalbon.com/python/data_wrangling/pandas_dataframe_descriptive_stats/) for performing statistical analysis
- Most are aggregations (produce lower dimensional result)
- When applied to a DataFrame, generally take an axis argument
   - Default is normally “index” (axis = 0)

In [ ]:
import numpy as np
import pandas as pd

D = np.random.uniform(low=0.0,high=10,size=(50,3))
df = pd.DataFrame(data=D,columns=['c0','c1','c2'])
print(df.head())

In [ ]:
# sum by axis
print(df.sum(axis=0))
print(df.sum(axis=1).head())

print(5*'-')
# mean by axis
print(df.mean(axis=0))
print(df.mean(axis=1).head())

In [ ]:
# statistical summary
print(df.describe())

In [ ]:
# cumulative sum
print(df.cumsum().head())

## Plotting
- pandas has a number of built-in plotting features
- Uses matplotlib to perform the plottings

#### plot 
- each column as a different line

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

D = np.random.uniform(low=0.0,high=10,size=(20,3))
df = pd.DataFrame(data=D,columns=['c0','c1','c2'])

df.plot()

#### bar plot
- each column value in a bar

In [ ]:
df[:5].plot(kind='bar')

In [ ]:
# can stake coluns in a single bar
df[:5].plot(kind='bar',stacked=True)

#### histogram
- each column goes to a different plot

In [ ]:
df[:5].hist(bins=10)

#### scatter plot and scatter plot matrix
- pairwise plot between columns

In [ ]:
pd.plotting.scatter_matrix(df,diagonal='kde')

## Applying Functions
- Being able to applying a function to each column or row is very convenient

In [ ]:
import numpy as np
import pandas as pd

D = np.random.uniform(low=0.0,high=10,size=(20,3))
df = pd.DataFrame(data=D,columns=['c0','c1','c2'])

In [ ]:
# z-scoring the columns
f = lambda x: (x - x.mean())/x.std()
dfz = df.apply(f,axis=0)

print(df.head())
print(dfz.head())
print(dfz.mean())

In [ ]:
# creating a new data frame by applying a function to another one
def g(x):
    return(pd.Series([x.min(),x.max()],index=['min','max']))

print(df.apply(g,axis=0).head())